.curved-loop-jacket {
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: visible;
  padding: 0;
  margin: 0;
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  backdrop-filter: none !important;
  filter: none !important;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 11;
  overflow: visible;
  display: block;
  font-size: 3.9rem;
  fill: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.1em;
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  filter: none !important;
}
